//Colors
$VeryDarkBlue: rgba(27, 29, 35, 1);
$DarkGrey: rgba(96, 99, 109, 1); 
$MediumGrey: rgba(125, 130, 143, 1);
$LightGrey: rgba(200, 204, 216, 1); 
$VeryLightGrey: rgba(238, 239, 244, 1);
$White: rgba(255, 255, 255, 1);
$Red: rgba(223, 86, 86, 1); 


//FontSize
$headingXL: 250px;
$headingL: 96px;
$headingM: 72px;
$headingS: 32px;
$headingXLmobile: 120px;
$headingL-mobile: 96px;
$headingMmobile: 48px;
$headingS-mobile: 32px;
$base: 18px;


//Media Queries
$media-tablet: 640px;
$media-desktop: 1024px;